<nav class="fixed w-full top-0 z-50">
  <ul
    class="flex w-full px-5 py-2 justify-between text-emerald-50 bg-emerald-500 items-center shadow shadow-emerald-800"
  >
    <li class="flex gap-3 items-center">
      <img src="/favicon.ico" alt="" />
      <h1 class="font-bold text-3xl">My App</h1>
    </li>
    <li class="text-2xl font-semibold">Welcome Sujai!</li>
  </ul>
</nav>

<section class="mt-16 flex">
  <nav
    class="w-3xs min-w-3xs sticky top-16 h-[calc(100vh-4.5rem)] text-emerald-50 bg-emerald-500 py-5"
  >
    <app-side-bar></app-side-bar>
  </nav>
  <main class="p-5">
    Main test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
    test <br />
  </main>
</section>
